#parse("/ui/layout_base.vm")
#@mainLayout()

    <h1>Quadros</h1>

    <form action="/salvar-quadro" method="post">
        <input name="nome-quadro" placeholder="Novo quadro" required />
        <input type="submit" value="criar" />
    </form>

    <ul>
        #foreach($quadro in $quadros)
            <li>$quadro <a href="/toggle-favorito/$quadro.nome">Favorito</a></li>
        #end
    </ul>

#end
